body{
    margin: 0;
}

@font-face {
    font-family: 'BoschSans-Bold';
    src: url('BoschSans-Bold-v5_003.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

img, div, object{
    position: absolute;
}

#banner{
    width: 300px;
    height: 250px;
    overflow: hidden;
    background-color: #3579bb;
    color: #fff;
    font-family: "BoschSans-Bold";
}

#loaderWrapper{
    width: 100%;
    height: 100%;
    background: #3579bb;
    pointer-events: none;
    top:0;
}

#loaderCenter{
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loader{
    width: 50px;
    height: 50px;
    position: relative;
    border: 3px solid #fff;
    border-top: 3px solid #000;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#border{
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    box-sizing: border-box;
    top: 0;
}

#mainExit{
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 999;
    position: absolute;
    top:0;
}

#badgeEnergy,
#badge,
#product,
#logo,
#bg{
    width: 100%;
}

#text1{
    top: 68px;
    left: 44px;
    font-size: 28px;
    line-height: 32px;
}

#text2{
    top: 56px;
    left: 13px;
    font-size: 18.5px;
    line-height: 20px;
    letter-spacing: -0.3px;
}

#usp{
    top: 124px;
    left: 13px;
    font-size: 10px;
    line-height: 15px;
}

#cta{
    width: 75px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 9px;
    background: #fff;
    color: #000;
    left: 13px;
    bottom: 61px;
}

#price{
    font-size: 27px;
    left: 13px;
    bottom: 20px;
}

#priceSign{
    font-size: 15px;
    position: absolute;
    top: 6px;
    margin-left: 3px;
}

#badge{
    transform-origin: 182px 197px;
}

#guide{
    width: 100%;
}