body{
    margin: 0;
}

img, div, object{
    position: absolute;
}

#banner{
    width: 300px;
    height: 600px;
    overflow: hidden;
    background-color: #000000;
    color: #fff;
}

#loaderWrapper{
    width: 100%;
    height: 100%;
    background: #000000;
    pointer-events: none;
    top:0;
}

#loaderCenter{
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loader{
    width: 50px;
    height: 50px;
    position: relative;
    border: 3px solid #222d3f;
    border-top: 3px solid #ff9900;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#border{
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    box-sizing: border-box;
    top: 0;
}

#mainExit{
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 999;
    position: absolute;
    top:0;
}

#flame2,
#flame1,
#bootWoman,
#couple,
#logo,
#bg,
#copy{
    width: 100%;
}

#spaceWrapper{
    background: #000;
    top: 0px;
    width: 150%;
    height: 100%;
    clip-path: polygon(-113% -7%, 171% 0%, 31% 76%);
}

#reset{
    width: 300px;
    height: 600px;
    left: 0;
    top: 0;
}

#copy{
    transform-origin: 50% 80%;
}

#bookBg{
    width: 100%;
    top: 0;
}

#scarfWrapper3,
#scarfWrapper2,
#scarfWrapper1{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#scarfBack,
#scarfFront2,
#scarfWrapper3,
#scarfWrapper1{
    right: 0;
}

#scarfBack,
#scarfFront2,
#scarfFront1{
    width: 300px;
}

#flame1{
    transform-origin: 71px 254px;
}

#flame2{
    transform-origin: 247px 247px;
}

#birdWrapper{
    width: 100%;
    height: 100%;
    transform-origin: 127px 49px;
}

#flowers1,
#flowers2,
#flowers3,
#flowers4,
#bird{
    width: 100%;
}

#birdWingR{
    width: 100%;
    transform-origin: 127px 49px;
}

#birdWingL{
    width: 100%;
    transform-origin: 127px 49px;
    top: 4px;
    left: -6px;
}