body{
    margin: 0;
}

img, div, object{
    position: absolute;
}

#banner{
    width: 1000px;
    height: 333px;
    overflow: hidden;
    color: #fff;
    background: #c67db0;
}

#loaderWrapper{
    width: 100%;
    height: 100%;
    background: #c67db0;
    pointer-events: none;
}

#loaderCenter{
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loader{
    width: 50px;
    height: 50px;
    position: relative;
    border: 3px solid #fff;
    border-top: 3px solid #C51718;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#border{
    width: 100%;
    height: 100%;
    border: solid 1px #000;
    box-sizing: border-box;
}


#mainExit{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#cta,
#endText,
#product2Info,
#product1Info,
#product2PriceTopText,
#product2PriceTop,
#product2PriceBg,
#product2Price,
#product1PriceTopText,
#product1PriceTop,
#product1PriceBg,
#product1Price,
#product2,
#product1,
#text2A,
#text2B,
#text1A,
#text1B,
#mainText3,
#mainText2,
#mainText1,
#tagline2,
#tagline1,
#logo{
    width: 100%;
}

#panelLeft2,
#panelLeft{
    width: 500px;
    height: 309px;
    left: 0;
    top: 0;
    background: #a0267c;
    border-radius: 0px 0px 30px 0px;
}

#panelLeft2{
    background: #f39000;
}

#product1{
    transform-origin: 0px 0px;
}

#product2PriceTopText,
#product2PriceBg,
#product2Price,
#product1PriceTopText,
#product1PriceBg,
#product1Price{
    transform-origin: 680px 180px;
}

#cta{
    transform-origin: 50% 95%;
}

#priceTopWrapper2,
#priceTopWrapper{
    width: 100%;
    height: 255px;
    bottom: 0;
    overflow: hidden;
}

#product2PriceTopText,
#product2PriceTop,
#product1PriceTopText,
#product1PriceTop{
    top: -78px;
}