body{
    margin: 0;
}

@font-face {
    font-family: 'DM Sans Regular';
    src: url('DMSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

img, div, object{
    position: absolute;
}

#banner{
    width: 300px;
    height: 250px;
    overflow: hidden;
    background-color: #2bd6c4;
    color: #13352c;
    font-family: 'DM Sans Regular';
}

#loaderWrapper{
    width: 100%;
    height: 100%;
    background: #2bd6c4;
    pointer-events: none;
    top:0;
}

#loaderCenter{
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loader{
    width: 50px;
    height: 50px;
    position: relative;
    border: 3px solid #000;
    border-top: 3px solid #e5ff1f;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#border{
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    box-sizing: border-box;
    top: 0;
}

#mainExit{
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 999;
    position: absolute;
    top:0;
}

#bg{
    height: 100%;
    right: 0;
}

#introPanel{
    width: 100%;
    height: 300px;
    bottom: 0px;
    background: #e5ff1f;
}

#logo{
    width: 112px;
    top: 18px;
    left: 18px;
    transform-origin: 0px 0px;
}

#text1{
    top: 61px;
    left: 17px;
    font-size: 16px;
    line-height: 18px;
}

#taglineWrapper{
    width: 68px;
    height: 100%;
    left: 82px;
    overflow: hidden;
}

#tagline{
    font-size: 7px;
    line-height: 8px;
    top: 17px;
}

#cta{
    bottom: 0px;
    left: 17px;
    line-height: 24px;
    font-size: 11px;
}

#arrowWrapper{
    font-size: 15px;
    position: relative;
    bottom: -8px;
    overflow: hidden;
    display: inline-block;
}

#arrow{
    position: relative;
    display: inline-block;
}

#payrollWrapper{
    width: 135px;
    height: 93px;
    left: 149px;
    top: 51px;
    background: #48dad0;
    box-shadow: 5px 15px 9px rgba(46, 82, 82, 0.07);
    border-top: 1px solid #8dede5;
    border-left: 1px solid #8dede5;
    border-radius: 3px;
}

#payrollLine{
    width: 110px;
    height: 1px;
    background: #060b02;
    bottom: 19px;
    left: 12px;
}

#payrollBar{
    width: 86px;
    height: 6px;
    background: #e5ff1f;
    bottom: 16px;
    left: 11px;
    border-radius: 100px;
}

#payrollText{
    font-size: 10px;
    left: 11px;
    top: 7px;
}

#payrollTaskText{
    font-size: 17px;
    left: 12px;
    top: 45px;
}

#payrollTaskTotal{
    font-size: 6.5px;
    line-height: 8px;
    right: 12px;
    bottom: 29px;
    text-align: right;
}

#headcountWrapper{
    width: 108px;
    height: 99px;
    left: 163px;
    top: 55px;
    background: #48dad0;
    box-shadow: 5px 15px 9px rgba(46, 82, 82, 0.07);
    border-top: 1px solid #8dede5;
    border-left: 1px solid #8dede5;
    border-radius: 3px;
}

#headcountText{
    font-size: 10px;
    left: 11px;
    top: 7px;
}

#headcountBarsWrapper{
    width: 100%;
    height: 100%;
    transform-origin: 0px 0px;
    transform: scale(0.53);
    bottom: -47px;
}

#headcountWrapper .bar{
    width: 2px;
    background: #060b02;
    bottom: 20px;
}

#headcountWrapper .line{
    bottom: 20px;
    width: 11px;
    background: #e5ff1f;
    border-radius: 100px;
}

#bar1{
    height: 43px;
    left: 26px;
}

#bar2{
    height: 59px;
    left: 47px;
}

#bar3{
    height: 87px;
    left: 69px;
}

#bar4{
    height: 73px;
    left: 90px;
}

#bar5{
    height: 92px;
    left: 111px;
}

#bar6{
    height: 115px;
    left: 133px;
}

#bar7{
    height: 115px;
    left: 154px;
}

#bar8{
    height: 136px;
    left: 176px;
}

#line1{
    height: 36px;
    left: 21px;
}

#line2{
    height: 32px;
    left: 43px;
}

#line3{
    height: 78px;
    left: 64px;
}

#line4{
    height: 53px;
    left: 86px;
}

#line5{
    height: 78px;
    left: 107px;
}

#line6{
    height: 97px;
    left: 129px;
}

#line7{
    height: 94px;
    left: 150px;
}

#line8{
    height: 111px;
    left: 171px;
}

#retentionWrapper{
    width: 107px;
    height: 98px;
    left: 164px;
    top: 60px;
    background: #48dad0;
    box-shadow: 5px 15px 9px rgba(46, 82, 82, 0.07);
    border-top: 1px solid #8dede5;
    border-left: 1px solid #8dede5;
    border-radius: 3px;
}

#retentionText{
    font-size: 10px;
    left: 11px;
    top: 7px;
}

#retentionNr{
    font-size: 14px;
    top: 49px;
    width: 100%;
    text-align: center;
}

#retentionSVG{
    position: absolute;
    width: 60%;
    left: 21px;
    transform: rotate(89deg);
    top: 27px;
}