body{
    margin: 0;
}

img, div, object{
    position: absolute;
}

#banner{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

#border{
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    box-sizing: border-box;    
}

#loaderWrapper{
    width: 100%;
    height: 100%;
    background: #162259;
    pointer-events: none;
}

#loaderCenter{
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loader{
    width: 50px;
    height: 50px;
    position: relative;
    border: 3px solid #fff;
    border-top: 3px solid #EE7100;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

#mainExit{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#scaler{
    width: 1200px;
    height: 1200px;
    left: 0px;
    overflow: hidden;
    background: #162259;
}

#extraScaler{
    width: 1200px;
    height: 1200px;
    pointer-events: none;
    transform-origin: 0px 0px;
}

#sticker,
#text4,
#text3,
#endLogo,
#ctaLeft,
#ctaRight,
#text2,
#text1,
#product,
#logo,
#bg{
    width: 100%;
}

#highlight2Wrapper,
#highlight1Wrapper,
#productLogoWrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#highlight2,
#highlight1,
#productLogo{
    width: 1200px;
}

#bgBorder{
    width: 560px;
    height: 1160px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    top: 8px;
    box-shadow: 0px 0px 0px 3000px #202B78;
}

#endBg{
    width: 100%;
    height: 100%;
    background: #162259;
}