body{
    margin: 0;
}

img, div, object{
    position: absolute;
}

#banner{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

#loaderWrapper{
    width: 100%;
    height: 100%;
    background: #00b5ed;
    pointer-events: none;
}

#loaderCenter{
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loader{
    width: 50px;
    height: 50px;
    position: relative;
    border: 3px solid #fff;
    border-top: 3px solid #202b79;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#mainExit{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#scaler{
    width: 1200px;
    height: 1200px;
    left: 0px;
    overflow: hidden;
    color: #fff;
    background: #00b5ed;
}

#extraScaler{
    width: 1200px;
    height: 1200px;
    pointer-events: none;
    transform-origin: 0px 0px;
}

#tagline,
#ctaRight,
#ctaLeft,
#logoEnd,
#badge2,
#badge1,
#info1,
#info2,
#legal1,
#legal2,
#price2,
#price1,
#product2,
#product1,
#date1,
#date2,
#text1,
#sticker,
#logo{
    width: 100%;
}

#legal1,
#legal2{
    top: 99999px;
}

#highlight1BWrapper,
#highlight1CWrapper,
#highlight1DWrapper,
#highlight1AWrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#highlight1B,
#highlight1C,
#highlight1D,
#highlight1A{
    width: 1200px;
}

#sticker{
    transform-origin: 732px 328px;
}

#badge2,
#badge1,
#price2,
#price1{
    transform-origin: 684px 996px;
}

#ctaLeft{
    transform-origin: 50% 75%;
}