body{
    background: #fff;
    margin: 0px;
}

#header{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 120px;
}

#page{
    position: relative;
    width: 100%;
    height: 524px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: url("../bg.jpg");
    background-size: cover;   
    overflow: hidden;
    cursor: pointer;
}

#text1,
#text3,
#ctaOver,
#cta{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 522px;
}

#phone{
    position: absolute;
    height: 578px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: 70% 100%;
}

#footer{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 268px;
}

#ctaOver{
    opacity: 0;
}