body{
    margin: 0;
}

img, div, object{
    position: absolute;
}

#banner{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

#loaderWrapper{
    width: 100%;
    height: 100%;
    background: #FDD5A5;
    pointer-events: none;
}

#loaderCenter{
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loader{
    width: 50px;
    height: 50px;
    position: relative;
    border: 3px solid #fff;
    border-top: 3px solid #C51718;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#mainExit{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#scaler{
    width: 1200px;
    height: 1200px;
    left: 0px;
    overflow: hidden;
    background: #FDD5A5;
}

#extraScaler{
    width: 1200px;
    height: 1200px;
    pointer-events: none;
    transform-origin: 0px 0px;
}

#cta,
#endText,
#logoEnd,
#tagline,
#product1Info,
#product1PriceTopText,
#product1PriceTop,
#product1PriceBg,
#product1Price,
#product1,
#mainText3,
#mainText2,
#mainText1,
#mainText,
#text1A,
#text1B{
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

#highlight1Wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#highlight1{
    height: 1200px;
    left: 300px;
    
}

#panelLeft{
    width: 868px;
    height: 600px;
    right: 0;
    bottom: 0;
    background: #F39000;
    border-radius: 40px 0px 0px 0px;
}

#product1{
    transform-origin: 0px 0px;
}

#product1PriceTop,
#product1PriceTopText,
#product1PriceBg,
#product1Price{
    height: 1200px;
    transform-origin: 50% 75%;
}

#cta{
    transform-origin: 50% 85%;
}

#logo{
    height: 100%;
    right: 0;
}

#priceTopWrapper{
    width: 100%;
    height: 518px;
    bottom: 0;
    overflow: hidden;
}

#product1PriceTopText,
#product1PriceTop{
    top: -682px;
}